<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>Welcome,Lets Play</h1>
  1:<input  type="number" [(ngModel)]="one" required><br><br>
  2:<input  type="number" [(ngModel)]="two" required><br><br>
  3:<input  type="number" [(ngModel)]="three" required><br><br>
  4:<input  type="number" [(ngModel)]="four" required> <br><br>
  5:<input  type="number" [(ngModel)]="five" required><br><br>
  6:<input  type="number" [(ngModel)]="six" required><br><br>
  7:<input  type="number" [(ngModel)]="seven" required><br><br>
  8:<input  type="number" [(ngModel)]="eight" required><br><br>
  <h3>ENTER THE LENGTH OF WOODEN LOG</h3>
  <input  type="number" [(ngModel)]="length" required>
  <button (click)="cal()">CALCULATE</button>
</div>

